{% extends "base.html" %}
{% load static %}
{% block title %} Инструктаж - подземная экскурсия начало. {% endblock %}

{% block content %}
  <div class= 'pageLevel_1' id='briefing'>
    <h1> чтоб все было хорошо :)</h1>
    <hr width="90%" size="3px" color="gray">

    <p style="margin-top:1.1em">У каждого подземного объекта есть свои особенности и, следовательно, правила безопасного нахождения под землей могут несколько различатся. Поэтому: </br>
      1. Перед началом экскурсии внимательно выслушайте инструктаж экскурсовода!</p>

    <p>Но существуют общие правила безопасности одинаковые для всех подземелий:</p>
    <p>2. Перед заходом в подземелье, обязательно наденте защитные перчатки.</p>

    <p>3. При перемещении под землей следуйте за направляющим. Без разрешения не уходите в боковые ответвления подземного хода.</p>

    <p>4. Внимательно смотрите под ноги и вверх — можно споткнутся, или ударится головой.</p>

    <p>5. Не отковыривайте кусочи от стен и сводов «на память».</p>

    <p>6. Не пытайтесь залезть в узкие проходы и щели.</p>

    <p>7. При обнаружении у себя, или у товарища признаков клаустрофобии (безпричинное учащенное сердцебиение, дыхание, ощущение «давящих стен», нехватки воздуха, или других симтомов, не соответствующих нормальному поведению вашего организма) не стесняйтесь — немедленно сообщите об этом экскурсоводу.</p>

    <p>8. Если Вы курильщик, то во время экскурсии воздержитесь от курения. В подземных условиях задымление от тлеющей сигареты доставит массу неприятных ощущений вашим товарищам и, возможно вызовет столько же нелестных высказываний в Ваш адрес.</p><br>

    <h3 name='wear'>Одежда для подземной экскурсии:</h1>
      <p>...должна быть свободной, не стесняющей движений, из разряда той которую нежалко испачкать (выйти из подземелья абсолютно чистым мало у кого получается). Футболки с коротким рукавом, майки, шорты, босоножки, для подземных вылазок однозначно не годятся.</p>

      <p><p>Варианты одежды:</p>
      — джинсы или спортивные штаны из плотной ткани, футболка, рубашка с длинным рукавом или легкая куртка (в идеале, какой нибудь рабочий комбинезон);</br>
      — подбирая одежду нужно учитывать, что температура под землей в среднем +8, +12 градусов (в Одесских Катакомбах +12, +14);</br>
      — обувь — кроссовки, кеды, ботинки;</br>
      — на голову обязательно шапочку, бандану или хотя бы кепку;</br>
      — перчатками Вас обеспечит экскурсовод.</p>

      <p style='text-align:center'>Ждем Вас на наших экскурсиях.</p>
  </div>
{% endblock %}