{% extends "base.html" %}
{% load static %}
{% block title %} Квест в пещерном лабиринте {% endblock %}

{% block content %}
  <div class= 'pageLevel_1' id='cave_quest'>
    <h1>Подземный лабиринт</h1>
    <hr width="90%" size="3px" color="gray">

    <p style="margin-top:1.1em">Приключение на целый день для компании из 10 - 15 человек.</p>
    <p>Это испытание не для слабых духом. Сильный физически, здесь не обязательно будет лучшим: острый ум, сноровка, интуиция и ловкость — это качества, которые потребуются смельчаку, бросившему вызов духам пещер. Запутанные лабиринты, абсолютная тьма, и это еще не всё…</p>
    <p>Пройдите подземный квест, получите незабываемые впечатления, попутно научившись ориентироваться и безопасно находится в пещерах.</p>

    <figure class='init'>
      <img src="{% static '/page_photo/cave_quest/prev/prev_1.jpg' %}" title="">
      <img src="{% static '/page_photo/cave_quest/prev/prev_2.jpg' %}" title="">
    </figure>

    <figure class='init'>
      <img src="{% static '/page_photo/cave_quest/prev/prev_3.jpg' %}" title="">
      <img src="{% static '/page_photo/cave_quest/prev/prev_4.jpg' %}" title="">
    </figure>

    <figure class='init'>
      <img src="{% static '/page_photo/cave_quest/prev/prev_5.jpg' %}" title="">
      <img src="{% static '/page_photo/cave_quest/prev/prev_6.jpg' %}" title="">
    </figure>

    <figure class='init'>
      <img src="{% static '/page_photo/cave_quest/prev/prev_7.jpg' %}" title="">
      <img src="{% static '/page_photo/cave_quest/prev/prev_8.jpg' %}" title="">
    </figure>

    <figure class='init'>
      <img src="{% static '/page_photo/cave_quest/prev/prev_9.jpg' %}" title="">
      <img src="{% static '/page_photo/cave_quest/prev/prev_10.jpg' %}" title="">
    </figure>

    <figure class='init'>
      <img src="{% static '/page_photo/cave_quest/prev/prev_11.jpg' %}" title="">
      <img src="{% static '/page_photo/cave_quest/prev/prev_12.jpg' %}" title="">
    </figure>

    <figure class='init'>
      <img src="{% static '/page_photo/cave_quest/prev/prev_13.jpg' %}"  title="">
      <img src="{% static '/page_photo/cave_quest/prev/prev_14.jpg' %}" title="">
    </figure>

    <figure class='init'>
      <img src="{% static '/page_photo/cave_quest/prev/prev_15.jpg' %}" title="">
      <img src="{% static '/page_photo/cave_quest/prev/prev_16.jpg' %}" title="">
    </figure>

    <figure class='init'>
      <img src="{% static '/page_photo/cave_quest/prev/prev_17.jpg' %}" title="">
      <img src="{% static '/page_photo/cave_quest/prev/prev_18.jpg' %}" title="">
    </figure>

    <figure class='init'>
      <img src="{% static '/page_photo/cave_quest/prev/prev_19.jpg' %}" title="">
      <img src="{% static '/page_photo/cave_quest/prev/prev_20.jpg' %}"  title="">
    </figure>
  </div>
{% endblock %}