
{% extends "base.html" %}
{% load static %}
{% block title %} Подземный Харьков Pro {% endblock %}

{% block content %}
  <div class='pageLevel_0' id='mainPage'>
    <h1>Харьков &ndash; лучший город для жизни…</h1>
    <p>ставить после этой фразы восклицательный знак &laquo;!&raquo; или вопросительный &laquo;?&raquo;, вопрос конечно субъективный. Большинство харьковчан уверенно поставят три восклицательных знака и будут правы. Но, то что наш город один из самых интересных, оценка безусловно объективная.
      Практически всем жителям и многим гостям Первой столицы, известно множество достопримечательностей, связанных как с современным обликом города, так и освещающих его богатую историю. А вот исторические объекты, которые веками были скрыты от людских глаз, по сей день таковыми и остаются. Таинственные глубины древних подземных галерей и переходов, до недавнего времени были известны только небольшому кругу энтузиастов и первопроходцев.
      Как Вы относитесь к путешествию во времени?.. Лет на двести назад… </br>
      Скептически? </br>
      А вот и напрасно. </p>
    <p>Что скажете, если я предложу Вам погрузиться в неизвестную историю нашего города практически буквально?</p>

    <div style='margin-top:30px;'>
      <p>
        <a href='{% url 'ist_podz' %}' style='float:left; margin: 0 5% 0 0;'><img src="{% static '/img/vintage_frame_ist_podz.png' %}" title="К старинным подземным ходам"></a>
        Сделайте себе и своим друзьям необычный, оригинальный подарок. Увлекательная и в меру экстремальная экскурсия в <span><a href='{% url 'ist_podz' %}'>древние подземелья Харькова</a></span> откроет Вам ранее неведомые странички истории нашего города. Вы узнаете много нового, а если возьмете с собой детей (от 10 лет), это необыкновенное приключение значительно расширит кругозор вашего чада.
      </p>
    </div>
    <div style='clear:both;'></div>
    <div style='margin-top:20px;'>
      <p>
        <a href='{% url 'cave_quest' %}' style='float:right; margin:0 2%;'><img src="{% static '/img/vintage_frame_cave_quest.png' %}" title="«Ворваться по взрослому»"></a>
        Вас большая компания (10 и более человек), и есть желание «ворваться по взрослому»? Для Вас экстремальная квест-игра в стиле альтернативный туризм. Войдите в <span><a href='{% url 'cave_quest' %}'>подземный лабиринт</a></span>. Найдите пещерного тролля, отгадайте его загадки, выполните задания и найдете выход. Мы можем организовать ваше приключение длительностью в один или два дня. С ночевкой на поверхности, или под землей.
      </p>
    </div>
  </div>
{% endblock %}