
{% extends "base.html" %}
{% load static %}
{% block title %} Экскурсия в старинные подземелья Харькова {% endblock %}

{% block content %}
  <div class='pageLevel_1' id='ist_podz'>
    <h1>Древние подземелья Харькова!</h1>
    <hr width="90%" size="3px" color="gray">

    <p style="margin-top:1.1em">Окутаны дымкой мифов и легенд. Они буквально у ваших ног, точнее… под ногами.
      Увлекательное путешествие вглубь Харькова, позволит прикоснуться к ожившей истории старого города.</p>
    <p>Экскурсия занимает 1.5 — 2 часа.</p>

    <figure class='init'>
      <img src="{% static '/page_photo/ist_podz/prev/prev_1.jpg' %}" title="">
      <img src="{% static '/page_photo/ist_podz/prev/prev_2.jpg' %}" title="">
    </figure>

    <figure class='init'>
      <img src="{% static '/page_photo/ist_podz/prev/prev_3.jpg' %}"  title="">
      <img src="{% static '/page_photo/ist_podz/prev/prev_4.jpg' %}" title="">
    </figure>

    <figure class='init'>
      <img src="{% static '/page_photo/ist_podz/prev/prev_5.jpg' %}" title="">
      <img src="{% static '/page_photo/ist_podz/prev/prev_6.jpg' %}"  title="">
    </figure>

    <figure class='init'>
      <img src="{% static '/page_photo/ist_podz/prev/prev_7.jpg' %}" title="">
      <img src="{% static '/page_photo/ist_podz/prev/prev_8.jpg' %}" title="">
    </figure>

    <figure class='init'>
      <img src="{% static '/page_photo/ist_podz/prev/prev_9.jpg' %}" title="">
      <img src="{% static '/page_photo/ist_podz/prev/prev_10.jpg' %}"  title="">
    </figure>
  </div>
{% endblock %}