{% extends "base.html" %}
{% load static %}
{% block title %} Подземная экскурсия. Ответы на вопросы {% endblock %}

{% block content %}
          <div class='pageLevel_1' id='questions'>
          <h1>и ответы на них:</h1>

          <p><q>Какой сложности маршрут, длительность, историческая ценность, откуда начало маршрута, кто проводник или организатор?</q><br>

          Предлагаемые маршруты подземных экскурсий совершенно на похожи один на другой. И, разумеется, сложность, протяженность и история у каждого подземелья своя.<br>
          «Старинные подземелья» интересны с исторической точки зрения, понятие сложности к нему как-то и не применимо.<br>
          «Штурм пещерных лабиринтов» — игровой квест, там будет интересно и взрослым и детям.<br>
          Организовывают и проводят экскурсии опытные спелестологи (люди занимающиеся научным исследованием рукотворных подземных сооружений), мы любим свое дело, и занимаемся им уже много лет.</p>

          <p><q>Что там с запахами под землей? Канализацией не пахнет?</q><br>

          Запах сырости и пыли веков:), канализацией нет, не пахнет.</p>


          <p><q>Что нужно брать с собой что бы пойти под землю?</q><br>

          Если Вы собрались с нами на подземную экскурсию, то наденьте или возьмите с собой правильную одежду:</br>
          -Которую нежалко испачкать (например старые джинсы или спортивные штаны, футболка или рубашка с длинным рукавом, желательно из плотной ткани);</br>
          -Выбирая одежду, нужно помнить что температура под землей, в среднем +8, +14 градусов, более детально читаем <a href="{% url 'briefing' %}">здесь</a>;</br>
          -Для пещерного квеста, не забудьте бутерброды — поесть, и воду (чай) — попить. Вопросом питания в данном случае можем занятся и мы, но этот вариант обсуждается отдельно;</br>
          -Ну и, всегда и везде, заряд бодрости, хорошее настроение и готовность к великим свершениям.</br></br>

          Если же Вы нашли какую-то дыру в земле и, не имея подземного опыта, вопреки здравому смыслу полны решимости самостоятельно посмотреть что же там, обязательно читаем <a href="{% url 'safety_rules' %}">Правила техники безопасности для чайников решившихся на подземные прогулки</a>.</p>


          <p><q>А, там, под землей, не опасно, не завалит?</q><br>

          Возвращение всех экскурсантов живыми-здоровыми и, более того, в отличном расположении духа, мы гарантируем. Потенциально опасный объект, никогда не был бы выбран для проведения экскурсий. Но строгое следование <a href="{% url 'briefing' %}">Инструкциям</a> никто не отменял.</p>


          <p><q>Ограничения по возрасту есть?</q><br>

          Разумеется, без ограничений в нашем деле никуда.
          В Исторических подземельях ограничение обусловлено не столько безопасностью сколько вопросом - будет ли интересно 4х-5и летнему ребенку такое мероприятие. Впрочем, если Вы хотите взять малыша с собой - пожалуйста, но под Вашу ответственность.<br>
          Детские группы - от 12 лет.</p>
        </div>
{% endblock %}