{% extends "base.html" %}
{% load static %}
{% block title %} Техника безопасности под землей {% endblock %}

{% block content %}
  <div class='pageLevel_1' id='safety_rules'>
  <br>
    <h1> для чайников и профессионалов, решившихся на подземые прогулки.</h1>
    <hr width="90%" size="3px" color="gray">

    <p style="margin-top:1.3em">1. Выбрав объект для посещения свяжись со спелеологами (например с нами). Получишь, как минимум, пару полезных советов, как максимум, хорошую компанию.</p>
    <p>2. НЕ ходи под землю в одиночку. Оптимальная группа — 3-4 человека.</p>
    <p>3. Скажи куда идешь и установи контрольный срок твоего возвращения (появления в зоне действия мобильной связи), сообщи это своей жене (подруге, друзьям, родителям).</p>
    <p>4. НЕ скрывай свой маршрут, люди должны знать, где тебя искать в случае ЧП.</p>
    <p style='text-align:center'>ПОМНИ И ИМЕЙ В ВИДУ: если решил забрасываться под землю самостоятельно - ответственность за твое здоровъе и жизнь, лежит исключительно на тебе.<br> Поэтому читай внимательно!</p>
    <p>5. Запасись хорошим, надежным фонарем, лучше двумя (запсвет) и не забудь вставить свежие батарейки. Оказаться под землей внезапно без света, далеко не самый лучший вариант развития событий.</p>
    <p>6. Контролируй состояние сводов и стен. Трещины, свежие обвалы, прогибы свода, нарушения крепи должны насторожить.</p>
    <p>7. В подземную полость, свод которой не обложен, ходи с лопатой.</p>
    <p>8. На поверхности лучше оставить человека (в идеале не одного) с мобильным телефоном, лопатой (см. п. 7) и аптечкой (минимальная комплектация - перевязочный пакет + антисептик).</p>
    <p>9. Нюхай воздух, при запахе сероводорода, сернистого ангидрида, аммиака, жженого чеснока и прочей дряни, немедленно но без паники покинь подземелье.</p>
    <p>10. Слушай свой организм: головокружение, слабость, стук в висках, металлический привкус во рту, любые непонятные симптомы — сигнал к немедленному выходу на поверхность.</p>
    <p>11. Защити голову - вязаная шапка, а в идеале каска (удариться головой об нечто торчащее из потолка, что намного крепче и тверже твоей головы, намного приятнее будучи в каске). Обуйся в прочную обувь на толстой подошве (мягкие и удобные кеды прорезаются бутылочными осколками на раз). На руки перчатки — под землей много всякой гадости. После выхода вымой руки с мылом.</p>
    <p>12. НЕ копай, НЕ разбирай завалов, не трогай стен без крайней необходимости. Особенно голыми руками — много битого стекла и ржавого железа.</p>
    <p>13. НЕ забывай о том, что взрывоопасные предметы от многолетнего лежания в земле ничуть не испортились. Взрыв боевого заряда отличается от киношного, меньше дыма, но больше поражающего фактора. Для условий подземли последствия могут быть, и часто бывают, летальными. Лучше вообще не трогай подозрительные ржавые металлические предметы.</p>
    <p>14. Под землей НЕ пользуйся открытым огнем (к курению это тоже относится).</p>
    <p>15. Будь внимателен и запоминай обратную дорогу.</p>
    <p>16. НЕ обижай летучих мышей и прочую подземную живность.</p>
    <p>17. НЕ залазь в узкие щели, если не уверен в своих силах.</p>
    <p>18. Следи за своим морально-психологическим состоянием и состоянием напарников.</p>
    <p>И вообще веди себя хорошо :)<br><br>
      бОльшая часть из написанного выше, проверена на собственном (иногда печальном) опыте</p>
    <p style='text-align:center'>Удачи всем.</p>
  </div>
{% endblock %}