{% extends "base.html" %}
{% load static %}
{% block title %} {{ article_meta_data.0.title }} {% endblock %}

{% block content %}

  <div id='{{ article_ID }}' class='article'>

    <br>
    <p class="author">{{ article_meta_data.0.author }}</p>

    <h1>{{ article_meta_data.0.title }}</h1>

    <p>Вкратце  выводы об экспедиции можно сформулировать так: нужно ехать еще.</p>
    <p>Но обо всем по порядку.</p>
    <p>Солнечным майским утром 18.05.2019, як раз на дэнь Эвропы, компания из четверых детей подземелья в составе Антона Попова, Якова Савельева, Андрея Долгополова и Алексея Ляха с велосипедами наперевес погрузилась в электичку на ст. Харьков-Левада и… спустя чуть менее чем 3 часа благополучно из нее выгрузилась на ст. Святогорск. Где вскоре встретилась с проводником - Михаил Кулишов краевед Донбасса и эксперт в области истории горного дела Донецкого региона. Далее, уже впятером, мы попедалили в район поиска.</p>
    <p>Теперь немного по существу.</p>

    <blockquote><i>
      Цели экспедиции:
      <ul class='unord_list'>
        <li>найти и осуществить GPS-фиксацию культовых подземных сооружений (отшельнические кельи вырубленные в меловых <a href="https://ru.wikipedia.org/wiki/%D0%9E%D1%81%D1%82%D0%B0%D0%BD%D0%B5%D1%86" target="_blank">останцах</a>).</li>
        <li>по возможности их <a href="https://viv-asu.ru/index.php/component/phocadownload/category/2-fajly-asu?download=160:skachat-0-7-mb-pdf" title="Осторожно! Многа букафф." target="_blank">оттопосъемить</a>.</li>
        <li>оценить перспективы дальнейших исследований и сделать выводы о целесообразности организации более масштабной экспедиции.</li>
        <li>при положительном решении по предыдущему пункту, исходя полученного опыта, более тщательно подойти к планированию экспедиции и подбору снаряжения (в этот раз взяли много чего ненужного и не взяли много чего нужного)</li>
      </ul>
      <br>
      Локализация поиска:
      <ul class='unord_list'>
        <li>Окрестности села Богородичное, Славянского района Донецкой области. Правый обрывистый берег р. Северский Донец примерно в километре выше по течению от моста через реку.</li>
      </ul>
    </i></blockquote>

    <p>Прибыв в район поиска, начали делать что? - Правильно, искать!</p>
    <p>Первым найденным объектом была келья вырубленная в скале имеющей название “Жандарм”. Крайняя справа белая скала на панораме:</p>

    <figure class='init'>
      <img src={{ photo_objects.0.photo_prev.url }} title='Собственно она | нажмите что бы увеличить'>
    </figure>
    </br>

    <p>Она же более крупно:</p>

    <figure class='init'>
      <img src={{ photo_objects.1.photo_prev.url }} title="Жандарм на зуммировании | нажмите что бы увеличить">
    </figure>
    </br>

    <p>Ну... искали это громко сказано, Михаил нас к ней просто привел.</p>
    <p>Эта скала так-же обозначена на старой туристической схеме:</p>

    <figure class='init'>
      <img src={{ photo_objects.2.photo_prev.url }} title="Старая туристическая схема | нажмите что бы увеличить">
      <img src={{ photo_objects.3.photo_prev.url }} title='Вход в келью в "Жандарме" | нажмите что бы увеличить'>
    </figure>
    </br>

    <p>Келья представляет собой проход примерно метр на метр чуть менее метра в длину, ведущий в небольшую комнату (топосъемка не делалась). В комнате следы регулярного посещения ее местными монахами - иконы, крест и молитвенник на старославянском.</p>

    <figure class='init'>
      <img src={{ photo_objects.4.photo_prev.url }} title='Внутреннее убранство кельи | нажмите что бы увеличить'>
      <img src={{ photo_objects.5.photo_prev.url }} title='Внутреннее убранство кельи | нажмите что бы увеличить'>
    </figure>
    </br>

    <p>Второй объект - “Келья№2”, так же показал Миша (еле заметная белая точка левее от “Жандарма”:</p>

    <figure class='init'>
      <img src={{ photo_objects.6.photo_prev.url }} title='Второй останец вид с противоположного берега | нажмите что бы увеличить'>
    </figure>

    <figure class='init'>
      <img src={{ photo_objects.8.photo_prev.url }} title='Келья во второ#м останце | нажмите что бы увеличить'>
      <img src={{ photo_objects.9.photo_prev.url }} title='Келья во втором останце | нажмите что бы увеличить'>
      <img src={{ photo_objects.10.photo_prev.url }} title='Келья во втором останце | нажмите что бы увеличить'>
      <img src={{ photo_objects.11.photo_prev.url }} title='Келья во втором останце | нажмите что бы увеличить'>
    </figure>
    </br>

    <p>Найдя нам две кельи, Михаил попрощался и поспешил на вокзал дабы не опоздать на электричку домой в Бахмут. Ну а мы принялись самостоятельно искать третий останец:</p>

    <figure class='init'>
      <img src={{ photo_objects.12.photo_prev.url }} title='Третий не найденный | нажмите что бы увеличить'>
    </figure>

    <p>Который, пролазив несколько часов по лесу, так и не нашли (((</p>
    <p>Зато Антон нашел среди леса небольшой выход меловой скалы, который как и все меловые останцы, по форме напоминает зуб торчащий из склона. Нанося его на карту, я не долго думая так и назвал его - “Тохин Зуб” )))</p>

    <figure class='init'>
      <img src={{ photo_objects.13.photo_prev.url }} title="Составное фото">
    </figure>

    <p>Из-за обилия растительности вокруг одним кадром его сфотографировать не удалось. В нем вполне могла бы быть келья… но нету (((</p>
    <p>Но самым эффективным пещероискателем среди Детей подземелья в этой экспедиции стал Яша:</p>

    <figure class='init'>
      <img src={{ photo_objects.14.photo_prev.url }} title="Он самый )))">
    </figure>

    <p>Его хождения по лесной чаще были вознаграждены неожиданной находкой кельи вырытой в мягком грунте:</p>

    <figure class='init'>
      <img src={{ photo_objects.15.photo_prev.url }} title="Нажмите что бы увеличить">
    </figure>
    </br>

    <p>В ходе последующей переписки с Михаилом выяснилось что эта келья - такой себе “неуловимый Джо” местного разлива, по его словам найти этот объект можно только случайно. В руки исследователя ищущего ее целенаправленно, она не дается. Но любая мистика пасует при четко зафиксированных GPS-координатах))</p>
    <p>В поисках время летело быстро и вечер подкрался незаметно, посмотрев на часы Яша быстро упаковался, и с пробуксовкой стартовал на электричку в Харьков, да так, что мы еле поспевали за ним провожая его... до магазина))).</p>
    <p>Ну а трое самых <del>упоротых</del> <del>упертых</del> настойчивых спелеологов остались ночевать и хоть что-то потопосьемить в стремительно сгущавшихся сумерках. Этим хоть чем-то, и стала свеженайденная грунтовая келья:</p>

    <figure class='init'>
      <img src={{ photo_objects.16.photo_prev.url }} title="Топосъемочный процесс">
      <img src={{ photo_objects.17.photo_prev.url }} title="И его результат">
    </figure>

    <p>Хоромы тесноваты, но видимо тогдашнему обитателю, данных апартаментов хватало.</p>
    <p>На этом программу минимум мы сочли выполненной и примерно в 11 вечера, с чувством выполненного долга переместились к заранее присмотренному месту ночевки, подкармливая по дороге летающую кровососущую живность.</p>

    <figure class='init'>
      <img src={{ photo_objects.18.photo_prev.url }} title="Палатка? Долой эти буржуйские излишества! ))">
    </figure>
    </br>

    <p>Утром, по инициативе автора отчета, мотнулись еще разок на “Жандарма” сделать несколько фоток открывающихся со скалы видов:</p>
    <figure class='init'>
      <img src={{ photo_objects.19.photo_prev.url }} title="Нажать - увеличить">
      <img src={{ photo_objects.20.photo_prev.url }} title="Нажать - увеличить">
      <img src={{ photo_objects.21.photo_prev.url }} title="Нажать - увеличить">
    </figure>
    </br>

    <p>Опосля чего быстро-быстро покрутили педали в сторону ж/д вокзала (Антон, сорян))), и даже не опоздали</p>

    <figure class='init'>
      <img src={{ photo_objects.22.photo_prev.url }} title="Куда же без селфи на фоне великов">
    </figure>
    </br>

    <h1>И наконец ИТОГО:</h1>

    <p>Осуществлена GPS-фиксация 3-х подземных объектов искусственного происхождения. Выполнена топосъемка одного из них (грунтовый грот).</p>
    <br>

    <p>Перспективы дальнейших исследований:</p>
    <p>По словам Михаила, рядом с третьим, не найденным нами, меловым останцем,  а возможно так-же и в нем (считая справа, см. панораму), имеется еще как минимум одна довольно интересная келья:</p>
    <figure class='init'>
      <img src={{ photo_objects.23.photo_prev.url }} title="Неизвестная келья">
      <img src={{ photo_objects.24.photo_prev.url }} title="Которую еще предстоит найти">
    </figure>
    </br>

    <p>Метрах в 20 над “Жандармом” просматривается выход мела, который также стоило бы осмотреть поближе (дублировать фото не буду - скроллим вверх и смотрим)</p>
    <p>Так же Миша предоставил фото еще одного входа, правда он не знает где это (фото не его и довольно старое):</p>
    <figure class='init'>
      <img src={{ photo_objects.25.photo_prev.url }} title="Где это, непонятно... пока">
    </figure>
    </br>

    <p>Кроме того, ниже по течению, по другую сторону моста, в меловой осыпи просматриваются 2 полузасыпанных грота:</p>
    <p>первый:</p>

    <figure class='init'>
      <img src={{ photo_objects.26.photo_prev.url }} title="Снаружи">
      <img src={{ photo_objects.27.photo_prev.url }} title="Изнутри">
    </figure>
    </br>

    <p>и второй:</p>

    <figure class='init'>
      <img src={{ photo_objects.28.photo_prev.url }} title="Сесть отдохнуть">
      <img src={{ photo_objects.29.photo_prev.url }} title="Аккуратно спуститься">
      <img src={{ photo_objects.30.photo_prev.url }} title="И осмотреться по сторонам">
    </figure>
    </br>

    <p>Оба они находятся примерно здесь:</p>

    <figure class='init'>
      <img src={{ photo_objects.31.photo_prev.url }} title="Нажать - увеличить">
    </figure>
    </br>


    <p>Не найденный нами третий останец вблизи выглядит так:</p>
    <figure class='init'>
      <img src={{ photo_objects.32.photo_prev.url }} title="Абыдна что не нашли">
    </figure>

    <p>немного похож на “ТохинЗуб”, но походу не он.</p>
    <br>

    <blockquote><i>
      <p>Исходя из выше изложенного, я вижу повод для организации еще одной экспедиции.</p>
      <p>На этот раз более тщательно следует подойти к вопросу ее предварительного планирования и подбору снаряжения.</p>

      Касаемо снаряги мое мнение таково:
      <ul class='unord_list'>
        <li>полный комплект высотного снаряжения нам не пригодился. Достаточно метров 20 - 30 веревки, легкой обвязки, жумара и, возможно, спусковой восьмерки (и то, все это чисто на всякий случай).</li>
        <li>телефоны в качестве средства для GPS-позиционирования показали себя как удобные но ненадежные гаджеты (то батарея села, то экран сдох и т.п.) - нужно брать старый добрый гармин.</li>
        <li>лаперная сопатка. Хоть в этот раз и не пригодилась, не факт что не пригодится в следующий.</li>
        <li>ощущалась нехватка оперативной связи - рации были бы не лишними (благо они есть).</li>
        <li>ползая по великолепным крутым склонам, поросшим густым лесом, мы чувствовали себя жалкими муравьями. В какой-то момент страстно захотелось воспарить над деревьями аки птица и осмотреть местность сверху… но поскольку квадрокоптера у нас нет и не предвидится, для этих целей вполне сойдет и высокое дерево коих там хватает. Одна беда - нижние ветви у этих сосен начинаются в 3 - 4 метрах над землей. Но имея прямые руки растущие из плеч (а такие люди у нас есть))) и навыки работы с металлом, вполне можно <a href='https://www.youtube.com/watch?v=t5KYiIMV5bg' target='_blank'>смастерить</a> самодельные <a href='https://www.youtube.com/watch?v=3rAky4Hp7KI' target='_blank'>гаффы</a>, и таки залезть на дерево и осмотреться. Что может весьма помочь в поисках.</li>
      </ul>
    </i></blockquote>

    <p>На этом у меня все.</p>
    <br>
    <p>Всем участникам экспедиции - спасибо за участие в ней, хорошую компанию и плодотворное сотрудничество.</p>
    <p>Отдельная благодарность <a href='https://www.donmining.info/' target='_blank'>Михаилу Кулишову</a> за информационную поддержку, предоставленные фотоматериалы и отличную компанию ))</p>
    <br>
    <br>
    <br>

  </div>

{% endblock content %}